[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jupyterlab = "*"
statistics = "*"
numpy = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.7"
