[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = ">=2.10.1"
jupyterlab = "*"
notebook = ">=5.7.8"
requests = "*"
numpy = "*"
statistics = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.7"
